<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../style.css" />
    <title>Adaptive UI</title>
  </head>
  <body>
    <div class="site">
      <header class="site-header">
        <a class="site-header-title" href="/">Adaptive UI</a>
        <div class="site-header-ctas">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </header>
      <nav class="site-nav">
        <ul class="hz-nav primary-nav">
          <li><a href="/src/components/usage/usage.html">Usage</a></li>
          <li>
            <a href="/src/components/typography/typography.html">Typography</a>
          </li>
          <li><a href="#">Colors</a></li>
        </ul>
        <ul class="hz-nav sec-nav">
          <li class="site-nav-link">
            <a href="/src/components/avatar/avatar.html"> Avatar</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/alert/alert.html"> Alert </a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/badge/badge.html"> Badge</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/button/button.html">Button</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/cards/cards.html">Card</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/image/image.html">Image</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/input/input.html">Input</a>
          </li>
          <li class="site-nav-link more-links-wrapper">
            More Components >
            <ul class="more-links">
              <li>
                <a href="/src/components/grid/grid.html">Grid</a>
              </li>
              <li>
                <a href="/src/components/toast/toast.html">Toast</a>
              </li>
              <li>
                <a href="/src/components/navigation/navigation.html"
                  >Navigation</a
                >
              </li>
              <li>
                <a href="/src/components/list/list.html">List</a>
              </li>
							<li>
                <a href="/src/components/modal/modal.html">Modal</a>
              </li>
							<li>
                <a href="/src/components/rating/rating.html">Rating</a>
              </li>
            </li>
          </li>
        </ul>
      </nav>
      <main class="site-content">
        <section class="documentation">
          <h1 class="component-name">Badge</h1>
          <p class="component-description">
            The Badge Symbol is a small complimentary element that gives a
            subtle hint for additional information available. <br />
            You can use the badge on text, icon or on the avatars with class
            <span class="highlighted">badge</span> for the badge element and
            class <span class="highlighted">badge-container</span> to its
            container element. And depending on the type of container you want a
            badge on, you can add the following classes to the container.
          </p>
          <ul class="component-type-list">
            <li><span class="highlighted">badge-text-container</span></li>
            <li><span class="highlighted">icon-container</span></li>
            <li><span class="highlighted">badge-avatar-container</span></li>
          </ul>
          By default badge color is red. Also the badge size varies with respect
          to font size of container or the size of avatars.<br />
          Let's look at the demo.
          <h2 class="component-type-name">1. Badge on Text</h2>
          <section class="component-example-wrapper">
            <div class="badge-container badge-text-container">
              Notifications
              <span class="badge">13</span>
            </div>
            <div class="badge-container badge-text-container">
              Updates
              <span class="badge">2</span>
            </div>
          </section>
          <section class="component-code-wrapper">
            <script type="text/plain" class="line-numbers language-markup">
              <div class="badge-container badge-text-container">
                  ..text-here..
                  <span class="badge">..count..</span>
              </div>
            </script>
          </section>

          <h2 class="component-type-name">2. Badge on Icon</h2>
          <section class="component-example-wrapper">
            <div class="badge-container icon-container">
              <i class="fas fa-envelope"></i>
              <span class="badge">5</span>
            </div>
            <div class="badge-container icon-container">
              <i class="fas fa-address-book"></i>
              <span class="badge">9</span>
            </div>
          </section>
          <section class="component-code-wrapper">
            <script type="text/plain" class="line-numbers language-markup">
              <div class="badge-container icon-container">
                <i class="fas fa-envelope"></i> //Any font awesome icon
                  <span class="badge">..count..</span>
              </div>
            </script>
          </section>

          <h2 class="component-type-name">3. Badge on Avatar</h2>
          <p class="component-description">
            You can use classes <span class="highlighted">badge-active</span> or
            <span class="highlighted">badge-idle</span> to change the color to
            green or grey respectively.
          </p>
          <section class="component-example-wrapper">
            <div
              class="avatar avatar-lg avatar-round badge-container badge-avatar-container"
            >
              <img
                class="responsive-img"
                src="/src/assets/avatar-default.png"
                alt="avatar"
              />
              <span class="badge"></span>
            </div>
            <div
              class="avatar avatar-md avatar-round badge-container badge-avatar-container"
            >
              <img
                class="responsive-img"
                src="/src/assets/avatar-default.png"
                alt="avatar"
              />
              <span class="badge badge-idle"></span>
            </div>
            <div
              class="avatar avatar-sm avatar-round badge-container badge-avatar-container"
            >
              <img
                class="responsive-img"
                src="/src/assets/avatar-default.png"
                alt="avatar"
              />
              <span class="badge badge-active"></span>
            </div>
          </section>
          <section class="component-code-wrapper">
            <script type="text/plain" class="line-numbers language-markup">
              <div
                class="avatar avatar-lg avatar-round badge-container badge-avatar-container"
              >
                <img
                  class="responsive-img"
                  src="/src/assets/avatar-default.png"
                  alt="avatar"
                />
                <span class="badge"></span>
              </div>
            </script>
          </section>
        </section>
      </main>
    </div>
    <script src="../../prism/prism.js"></script>
  </body>
</html>
