@import url(./src/components/ui-lib.css);
@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1f1f1f;
  --gray: rgb(134, 134, 134);
  --white: #ffffff;
  --offwhite: #f5f5f5;
  --light-gray: #e5e5e5;
  --cta-color: #3e98f1;
  --error: rgb(211, 13, 13);
  --error-bg: rgb(247, 229, 229);
  --warning: #636300;
  --warning-bg: #ffffd0;
  --info: blue;
  --info-bg: rgb(232, 232, 255);
  --success: rgb(0, 129, 0);
  --success-bg: rgb(220, 248, 220);
  --status-active: rgb(11, 196, 11);
  --status-inactive: red;
  --status-idle: rgb(110, 109, 109);
  scroll-behavior: smooth;
}

body {
  /* font-family: "Murecho", sans-serif; */
  font-family: "Mukta", sans-serif;
  background-color: var(--offwhite);
}

/* site */
.site {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}

/* site header */
.site-header {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  background-color: var(--white);
  margin-bottom: 0.625rem;
}

.site-name {
  padding: 0.75rem;
}

/* site navigation */
.site-nav {
  background-color: var(--white);
  color: var(--primary-color-light);
  margin-bottom: 0.625rem;
}

.site-nav li {
  display: inline-block;
  margin: 0.25rem;
}

.site-nav-link a {
  color: var(--gray);
  padding: 0.375rem;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  transition: all 1s ease;
}

.site-nav-link a:hover {
  text-decoration: underline;
  color: var(--black);
}

/* site main content */
.site-content {
  background-color: var(--white);
  color: var(--black);
  padding: 0.75rem;
}
