@import url(./src/components/ui-lib.css);
@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap");
@import url("./src/prism/prism.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: var(--OFFWHITE);
}

/* site */
.site {
  margin: auto;
  /* max-width: 850px; */
  /* min-height: 100vh; */
}

/* site header */
.site-header {
  color: var(--WHITE);
  background-color: var(--BLACK);
  margin-bottom: 0.625rem;
  padding: 0.2rem 12vw;
  /* min-width: 850px; */
  display: flex;
  gap: 1rem;
  align-items: center;
}

.site-header-title {
  letter-spacing: 0.08rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

.hz-nav {
  display: inline-block;
  padding: 0;
}
.hz-nav li {
  display: inline-block;
}

.primary-nav {
  height: 100%;
  font-weight: 200;
  font-size: 1.2rem;
  color: var(--GRAY);
  display: inline-flex;
  gap: 1rem;
}
.primary-nav a {
  transition: all 1s ease;
}
.primary-nav a:hover {
  text-decoration: underline;
  color: var(--BLACK);
}

.site-header-ctas {
  font-size: 1.4rem;
  display: flex;
  gap: 0.8rem;
  margin-left: auto;
}

.site-header-ctas i {
  min-width: 1.2em;
  aspect-ratio: 1;
  display: flex;
  place-content: center;
  border-radius: 50%;
  padding: 6px;
}

.site-header-ctas i:hover {
  background-color: var(--GRAY);
}

/* site navigation */
.site-nav {
  padding: 0 12vw;
  /* min-width: 850px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--WHITE);
  margin-bottom: 0.625rem;
}

.site-nav li {
  /*   display: inline-block; */
  margin: 0.25rem;
}

.site-nav-link a {
  color: var(--GRAY);
  padding: 0.375rem;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  transition: all 1s ease;
}

.site-nav-link a:hover {
  text-decoration: underline;
  color: var(--BLACK);
}

/* site main content */
.site-content {
  padding: 1rem 22vw;
  /* min-width: 850px; */

  background-color: var(--WHITE);
  color: var(--BLACK);
}

.component-name {
  font-size: 1.5rem;
}

.component-type-list {
  list-style-position: inside;
}
.component-type-list li {
  margin: 0.5rem 0.25rem;
}

.component-type-name {
  font-size: 1.2rem;
}

.highlighted {
  background-color: var(--LIGHT-GRAY);
  color: var(--BLACK);
  font-weight: 500;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.component-example-wrapper {
  border: 1px solid var(--LIGHT-GRAY);
  background-color: var(--OFFWHITE);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  margin: 0.25rem;
}
.component-example-wrapper-secondary {
  display: flex;
  border-radius: 8px;
  gap: 0.5rem;
  padding: 1rem;
  margin: 0.25rem;
  border: 1px solid var(--LIGHT-GRAY);
  background-color: var(--OFFWHITE);
  flex-direction: column;
}

/* Grids demo css */
.grid-wrapper {
  width: 100%;
  max-height: 10rem;
  background-color: var(--GRAY);
  grid-gap: 2rem;
  padding: 1.5rem;
}

.grid-item-one,
.grid-item-two,
.grid-item-three {
  background-color: var(--OFFWHITE);
  display: grid;
  place-content: center;
}

.grid-item-one img {
  height: 100%;
  object-fit: cover;
}

/* for component demo */
h2 ~ .badge-text-container {
  width: fit-content;
  background-color: var(--BLACK);
  color: var(--OFFWHITE);
  padding: 0 0.5em;
}

.img-wrapper {
  width: 50vw;
}

/* CODE SNIPPET  : */

/* for copy button */
div.code-toolbar > .toolbar {
  opacity: 1;
}
/* BACKGROUND */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--INFO-BG);
  border: 1px solid var(--LIGHT-GRAY);
}

/* TAG <> COLOR */
.token.punctuation {
  color: var(--RED);
}

/* TAG NAME COLORS */
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: var(--RED);
}

/* CLASS COLOR */
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: rgb(1, 67, 97);
}

/* TEXT CONTENT  */
code[class*="language-"],
pre[class*="language-"] {
  color: var(--SUCCESS);
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: black;
}
