@import url(./src/components/ui-lib.css);
@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Murecho", sans-serif; */
  font-family: "Mukta", sans-serif;
  background-color: var(--OFFWHITE);
}

/* site */
.site {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}

/* site header */
.site-header {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--BLACK);
  background-color: var(--WHITE);
  margin-bottom: 0.625rem;
}

.site-name {
  padding: 0.75rem;
}

/* site navigation */
.site-nav {
  background-color: var(--WHITE);
  /* color: var(--primary-color-light); */
  margin-bottom: 0.625rem;
}

.site-nav li {
  display: inline-block;
  margin: 0.25rem;
}

.site-nav-link a {
  color: var(--GRAY);
  padding: 0.375rem;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  transition: all 1s ease;
}

.site-nav-link a:hover {
  text-decoration: underline;
  color: var(--BLACK);
}

/* site main content */
.site-content {
  background-color: var(--WHITE);
  color: var(--BLACK);
  padding: 0.75rem;
}
