.btn {
  border: none;
  cursor: pointer;
  padding: 0.5em 0.8em;
  background: transparent;
}

.btn:active {
  transform: scale(0.98);
}

/* Outline Buttons */
.btn-outline-primary {
  border: 2px groove var(--black);
  color: var(--black);
}

.btn-outline-secondary {
  border: 2px groove var(--white);
  color: var(--white);
}

/* Solid buttons */
.btn-solid-primary {
  background-color: var(--black);
  color: var(--white);
}

.btn-solid-secondary {
  background-color: var(--white);
  color: var(--black);
}

/* Pill Shaped Button */
.btn-pill {
  border-radius: 1em /50%;
}

/* Rounded Corner Buttons  */
.btn-rc {
  border-radius: 6px;
}

/* Link Buttons */
.btn-link-primary {
  padding: 0px 1px 0px 1px;
  border-bottom: 2px solid var(--black);
  color: var(--black);
}

.btn-link-secondary {
  padding: 0px 1px 0px 1px;
  border-bottom: 2px solid var(--white);
  color: var(--white);
}

/* Button Sizes */
.btn-lg {
  font-size: 1.5rem;
}
