<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Adaptive UI</title>
  </head>
  <body>
    <div class="site">
      <header class="site-header">
        <a class="site-header-title" href="/">Adaptive UI</a>
        <div class="site-header-ctas">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <button class="site-header-btn theme-toggle-btn">
          <i id="theme-toggle" class="fas fa-moon"></i>
        </button>

        <button class="site-header-btn hamburger-btn">
          <i id="btn-hamburger" class="fas fa-bars"></i>
        </button>
      </header>
      <nav id="site-nav" class="site-nav">
        <ul class="hz-nav primary-nav">
          <li><a href="/src/components/usage/usage.html">Usage</a></li>
          <li>
            <a href="/src/components/typography/typography.html">Typography</a>
          </li>
          <li><a href="#">Colors</a></li>
        </ul>
        <ul class="hz-nav sec-nav">
          <li class="site-nav-link">
            <a href="/src/components/avatar/avatar.html"> Avatar</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/alert/alert.html"> Alert </a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/badge/badge.html"> Badge</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/button/button.html">Button</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/cards/cards.html">Card</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/image/image.html">Image</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/input/input.html">Input</a>
          </li>
          <li class="site-nav-link more-links-wrapper">
            <span class="more-components-link"> More Components > </span>
            <ul class="more-links">
              <li>
                <a href="/src/components/grid/grid.html">Grid</a>
              </li>
              <li>
                <a href="/src/components/toast/toast.html">Toast</a>
              </li>
              <li>
                <a href="/src/components/navigation/navigation.html"
                  >Navigation</a
                >
              </li>
              <li>
                <a href="/src/components/list/list.html">List</a>
              </li>
              <li>
                <a href="/src/components/modal/modal.html">Modal</a>
              </li>
              <li>
                <a href="/src/components/rating/rating.html">Rating</a>
              </li>
              <li>
                <a href="/src/components/slider/slider.html">Slider</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <main class="site-content">
        <h1 class="component-name">Toast</h1>
        <p class="component-description">
          Toasts are asynchronous short messages for users. Generally they are
          used as an interface feedback pattern for informing the user about the
          results of an action.
          <br />
          You need to include <span class="highlighted">toast</span> class to
          use toast. Toast are available in 4 different colors depending on the
          type of information. You can use the following classes in your toast
          for different colors:
        </p>
        <ul class="component-type-list">
          <li><span class="highlighted">toast-error</span> : Error toast</li>
          <li>
            <span class="highlighted">toast-warning</span> : Warning toast
          </li>
          <li>
            <span class="highlighted">toast-success</span> : Success toast
          </li>
          <li><span class="highlighted">toast-info</span> : Info toast</li>
        </ul>
        <section class="component-example-wrapper">
          <button
            id="toast-error-btn"
            class="btn btn-rc btn-outline-primary site-link"
          >
            Error toast
          </button>

          <button
            id="toast-info-btn"
            class="btn btn-rc btn-outline-primary site-link"
          >
            Informative toast
          </button>

          <button
            id="toast-warning-btn"
            class="btn btn-rc btn-outline-primary site-link"
          >
            Warning toast
          </button>

          <button
            id="toast-success-btn"
            class="btn btn-rc btn-outline-primary site-link"
          >
            Success toast
          </button>

          <div id="toast-error" class="toast toast-error">
            <p>Can't send photo. Retry in 5 seconds.</p>
            <button class="btn">
              <i class="fa fa-times"></i>
            </button>
          </div>

          <div id="toast-info" class="toast toast-info">
            <p>Can't send photo. Retry in 5 seconds.</p>
            <button class="btn">
              <i class="fa fa-times"></i>
            </button>
          </div>

          <div id="toast-warning" class="toast toast-warning">
            <p>Can't send photo. Retry in 5 seconds.</p>
            <button class="btn">
              <i class="fa fa-times"></i>
            </button>
          </div>

          <div id="toast-success" class="toast toast-success">
            <p>Can't send photo. Retry in 5 seconds.</p>
            <button class="btn">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </section>
        <section class="component-code-wrapper">
          <script type="text/plain" class="line-numbers language-markup">
                    <div id="toast-error" class="toast toast-error">
                      <p>Can't send photo. Retry in 5 seconds.</p>
                      <button class="btn">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>

                  <button id="toast-error-btn" class="btn btn-rc btn-outline-primary">
                    Error toast
                  </button>

            //javascript


                  const errorToast = document.getElementById("toast-error");
                  const errorToastBtn = document.getElementById("toast-error-btn");

                  function clickHandler(btn, el) {
                    btn.addEventListener("click", () => {
                      el.style.display = "flex";
                      setTimeout(() => {
                        el.style.display = "none";
                      }, 5000);
                    });
                  }
                  clickHandler(errorToastBtn, errorToast);
          </script>
        </section>
      </main>
    </div>
    <script src="./toast.js"></script>
    <script src="/app.js"></script>
    <script src="/src/prism/prism.js"></script>
  </body>
</html>
