/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

.h1,
h1 {
  font-size: 2em;
}

.h2,
h2 {
  font-size: 1.5em;
}

.h3,
h3 {
  font-size: 1.25em;
}

.h4,
h4 {
  font-size: 1.17em;
}

.h5,
h5 {
  font-size: 1em;
}

.h6,
h6 {
  font-size: 0.83em;
}

/* Text sizes */
.text-xxxl {
  font-size: 2em;
}

.text-xxl {
  font-size: 1.5em;
}

.text-xl {
  font-size: 1.25em;
}

.text-lg {
  font-size: 1.17em;
}

.text-md {
  font-size: 1em;
}

.text-sm {
  font-size: 0.83em;
}

/* Font Weight  */

.fw-l {
  font-weight: 300;
}

.fw-r {
  font-weight: 400;
}

.fw-sb {
  font-weight: 600;
}

.fw-b {
  font-weight: 700;
}

.fw-xb {
  font-weight: 900;
}

/* Text Align and Gray Text */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: var(--GRAY);
}
