.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: bold;
}

.h1,
h1 {
  font-size: 3rem;
  line-height: 4rem;
}

.h2,
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.h3,
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.h4,
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.h5,
h4 {
  font-size: 0.8rem;
  line-height: 1rem;
}

.text-xxl {
  font-size: 3rem;
  line-height: 4rem;
}
.text-xl {
  font-size: 2rem;
  line-height: 2.5rem;
}
.text-lg {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.8rem;
  line-height: 1rem;
}

.fw-l {
  font-weight: 300;
}

.fw-r {
  font-weight: 400;
}

.fw-sb {
  font-weight: 600;
}

.fw-b {
  font-weight: 700;
}

.fw-xb {
  font-weight: 900;
}
