<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/components/ui-lib.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>Adaptive UI</title>
  </head>
  <body>
    <div class="site">
      <header class="site-header">
        <div class="site-header-title"><a href="/">Adaptive UI</a></div>
        <div class="site-header-ctas">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </header>
      <nav class="site-nav">
        <ul class="hz-nav primary-nav">
          <li><a href="#">Usage</a></li>
          <li>
            <a href="/src/components/typography/typography.html">Typography</a>
          </li>
          <li><a href="#">Colors</a></li>
        </ul>
        <ul class="hz-nav sec-nav">
          <li class="site-nav-link">
            <a href="/src/components/avatar/avatar.html"> Avatar</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/alert/alert.html"> Alert </a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/badge/badge.html"> Badge</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/button/button.html">Button</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/cards/cards.html">Card</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/image/image.html">Image</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/input/input.html">Input</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/grid/grid.html">Grid</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/toast/toast.html">Toast</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/navigation/navigation.html">Navigation</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/list/list.html">List</a>
          </li>
        </ul>
      </nav>
      <main class="site-content">
        <h1 class="component-name">Typography</h1>
        <p class="component-description">
          Typography is an essential component of a website's design. Good
          typography is not only imperative for aesthetic appeal, but also
          improves site usability when text legibility and readability concepts
          are applied. Typography is all about proportions and spacing.
          <br />
          You have typography styles for the following:
        </p>
        <ul class="component-type-list">
          <li>
            <button class="btn btn-link-primary">
              <a href="#heading">Headings</a>
            </button>
          </li>
          <li>
            <button class="btn btn-link-primary">
              <a href="#text">Text</a>
            </button>
          </li>
          <li>
            <button class="btn btn-link-primary">
              <a href="#font-wt">Font Weight</a>
            </button>
          </li>
        </ul>
        <h2 id="heading" class="component-type-name">1. Heading</h2>
        <p class="component-description">
          You can use heading style with custom classes :
          <span class="highlighted">h1</span> ,
          <span class="highlighted">h2</span> ,
          <span class="highlighted">h3</span> ,
          <span class="highlighted">h4</span> and
          <span class="highlighted">h5</span>. Or you can also use the heading
          elements.
        </p>
        <section class="component-example-wrapper-secondary">
          <div class="typography-wrapper">
            <div class="h1">This is a Heading - H1</div>
            <span class="typography-info">Font-size: 3.0rem</span>
          </div>
          <div class="typography-wrapper">
            <div class="h2">This is a Heading - H2</div>
            <span class="typography-info">Font-size: 2.0rem</span>
          </div>
          <div class="typography-wrapper">
            <div class="h3">This is a Heading - H3</div>
            <span class="typography-info">Font-size: 1.5rem</span>
          </div>
          <div class="typography-wrapper">
            <div class="h4">This is a Heading - H4</div>
            <span class="typography-info">Font-size: 1.0rem</span>
          </div>
          <div class="typography-wrapper">
            <div class="h5">This is a Heading - H5</div>
            <span class="typography-info">Font-size: 0.8rem</span>
          </div>
        </section>
        <section class="component-code-wrapper">
          <script type="text/plain" class="line-numbers language-markup">
            <h1>This is a Heading: H1</h1>
            <h2>This is a Heading: H2</h2>
            <h3>This is a Heading: H3</h3>
            <h4>This is a Heading: H4</h4>
            <h5>This is a Heading: H5</h5>
          </script>
        </section>

        <h2 id="text" class="component-type-name">2. Text</h2>
        <p class="component-description">
          You can use text styles with custom classes :
          <span class="highlighted">p-xxl</span> ,
          <span class="highlighted">p-xl</span> ,
          <span class="highlighted">p-lg</span> ,
          <span class="highlighted">p-md</span> ,and
          <span class="highlighted">p-sm</span> for different sizes of text.
        </p>
        <section class="component-example-wrapper-secondary">
          <div class="typography-wrapper">
            <p class="p-xxl">This is double extra large text</p>
            <span class="typography-info">Font-size: 3.0rem</span>
          </div>
          <div class="typography-wrapper">
            <p class="p-xl">This is extra large text</p>
            <span class="typography-info">Font-size: 2.0rem</span>
          </div>
          <div class="typography-wrapper">
            <p class="p-lg">This is large text</p>
            <span class="typography-info">Font-size: 1.5rem</span>
          </div>
          <div class="typography-wrapper">
            <p class="p-md">This is regular sized text</p>
            <span class="typography-info">Font-size: 1.0rem</span>
          </div>
          <div class="typography-wrapper">
            <p class="p-sm">This is small text</p>
            <span class="typography-info">Font-size: 0.8rem</span>
          </div>
        </section>
        <section class="component-code-wrapper">
          <script type="text/plain" class="line-numbers language-markup">
            <p class="p-xxl">This is double extra large text</p>
            <p class="p-xl">This is extra large text</p>
            <p class="p-lg">This is large text</p>
            <p class="p-md">This is regular sized text</p>
            <p class="p-sm">This is small text</p>
          </script>
        </section>
        <h2 id="font-wt" class="component-type-name">3. Font Weight</h2>
        <p class="component-description">
          You can use different font weights with classes
          <span class="highlighted">fw-l</span> ,
          <span class="highlighted">fw-r</span> ,
          <span class="highlighted">fw-sb</span> ,
          <span class="highlighted">fw-b</span> ,and
          <span class="highlighted">fw-xb</span> .
        </p>
        <section class="component-example-wrapper-secondary">
          <p class="p-lg fw-l">Light 300</p>
          <p class="p-lg fw-r">Regular 400</p>
          <p class="p-lg fw-sm">Semi Bold 600</p>
          <p class="p-lg fw-b">Bold 700</p>
          <p class="p-lg fw-xb">Extra Bold 900</p>
        </section>
        <section class="component-code-wrapper">
          <script type="text/plain" class="line-numbers language-markup">
            <p class="fw-l">Light 300</p>
            <p class="fw-r">Regular 400</p>
            <p class="fw-sm">Semi Bold 600</p>
            <p class="fw-b">Bold 700</p>
            <p class="fw-xb">Extra Bold 900</p>
          </script>
        </section>
      </main>
    </div>
    <script src="/src/prism/prism.js"></script>
  </body>
</html>
