.card {
  border-radius: 4px;
  box-shadow: 2px 2px 4px -4px black;
  width: 14rem;
  border: 1px solid #b0bec5;
  position: relative;
}

.card-hz {
  border: 1px solid #b0bec5;
  border-radius: 4px;
  box-shadow: 4px 4px 6px -6px black;
  display: flex;
  align-items: center;
  height: 10rem;
  width: fit-content;
}

.card-text {
  border: 1px solid #b0bec5;
  border-radius: 4px;
  max-width: 24rem;
}

.details {
  padding: 8px;
}

.title {
  font-size: 1.2rem;
}

.buttons {
  margin-top: 0.4rem;
  display: flex;
  gap: 8px;
}

.ctas {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  display: inline-flex;
}

.ctas .dismiss {
  background: transparent;
  border: none;
  font-size: 1rem;
  transition: all 0.4s ease;
}

.dismiss:hover {
  background: #b0bec5;
}

.card-hz img {
  height: 100%;
}

.card-badge {
  background-color: var(--RED);
  color: var(--WHITE);
  width: 20%;
  padding-left: 4px;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 4px 4px 5px -5px var(--BLACK);
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 0;
}

.overlay {
  font-size: larger;
  font-weight: bold;
  color: var(--WHITE);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
