.card {
  border-radius: 4px;
  overflow: hidden;
  width: 14rem;
  border: 1px solid var(--GRAY);
  position: relative;
}

.card-hz {
  border: 1px solid var(--GRAY);
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 10rem;
  width: fit-content;
}

.card-text {
  border: 1px solid var(--GRAY);
  border-radius: 4px;
  max-width: 24rem;
}

.card-details {
  padding: 8px;
}

.card-title {
  font-size: 1.2rem;
}

.card-buttons {
  margin-top: 0.4rem;
  display: flex;
  gap: 8px;
}

.card-ctas {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  display: inline-flex;
}

.card-ctas .card-dismiss {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1rem;
  transition: all 0.4s ease;
}

.card-dismiss:hover {
  background: var(--GRAY);
}

.card-hz img {
  height: 100%;
}

.card-badge {
  background-color: var(--RED);
  color: var(--WHITE);
  width: 20%;
  padding-left: 4px;
  border-radius: 0 1rem 1rem 0;
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 0;
}

.card-overlay {
  font-size: larger;
  font-weight: bold;
  color: var(--WHITE);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--BLACK-OVERLAY);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-shadow {
  box-shadow: 6px 6px 6px -5px var(--BLACK);
}
