.header {
  display: flex;
  color: var(--BLACK);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  background-color: var(--WHITE);
  padding: 1rem 1rem;
}

.header-nav {
  flex-grow: 1;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.header-nav li:hover {
  border-bottom: 2px solid var(--BLACK);
  font-weight: 500;
}

.header-search-wrapper {
  width: 20%;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--LIGHT-GRAY);
}

.header-search-wrapper input {
  width: 100%;
  padding: 0.25rem;
  border: none;
  background: transparent;
}

.header-search-wrapper input:focus {
  outline: none;
}
.header-ctas {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header-ctas i {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.header-ctas .icon-btn {
  padding: 0;
}

.header-ctas .icon-btn:hover {
  background-color: var(--LIGHT-GRAY);
  border-radius: 50%;
}

.hamburger-icon-btn i {
  font-size: 1rem;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: 1200px) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }
  .header-search-wrapper {
    flex-grow: 1;
  }
}
