:root {
  --BLACK: #1f1f1f;
  --GRAY: rgb(134, 134, 134);
  --WHITE: #ffffff;
  --OFFWHITE: #f5f5f5;
  --LIGHT-GRAY: #e5e5e5;
  --RED: #ba2026;
  --CTA-COLOR: #3e98f1;
  --ERROR: rgb(211, 13, 13);
  --ERROR-BG: rgb(247, 229, 229);
  --WARNING: #636300;
  --WARNING-BG: #ffffd0;
  --INFO: blue;
  --INFO-BG: rgb(232, 232, 255);
  --SUCCESS: rgb(0, 129, 0);
  --success-BG: rgb(220, 248, 220);
  --STATUS-ACTIVE: rgb(11, 196, 11);
  --STATUS-INACTIVE: red;
  --STATUS-IDLE: rgb(110, 109, 109);
}
