@import url(./avatar/avatar.css);
@import url(./alert/alert.css);
@import url(./image/image.css);
@import url(./button/button.css);

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}
