<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../ui-lib.css" />
    <link rel="stylesheet" href="../../../style.css" />
    <title>UI - Avatar</title>
  </head>
  <body>
    <div class="site">
      <header class="site-header">
        <div class="site-name">UI Library</div>
      </header>
      <nav class="site-nav">
        <ul>
          <li class="site-nav-link">
            <a href="/src/components/avatar/avatar.html"> Avatar</a>
          </li>
          <li class="site-nav-link">
            <a href="/src/components/alert/alert.html"> Alert </a>
          </li>
          <li class="site-nav-link"><a href="#"> Badge</a></li>
          <li class="site-nav-link"><a href="#">Button</a></li>
          <li class="site-nav-link"><a href="#">Card</a></li>
          <li class="site-nav-link"><a href="#">Image</a></li>
          <li class="site-nav-link"><a href="#">Input</a></li>
        </ul>
      </nav>
      <main class="site-content">
        <h1 class="component-name">Avatar</h1>
        <p class="component-descriptiom">
          The avatar component is typically used to display circular user
          profile pictures.
        </p>
      </main>
    </div>
  </body>
</html>
